.profile__btn {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity .1s ease;
}

.profile__btn:hover {
  opacity: 0.6;
  border: 2px solid #FFFFFF;
}