.profile__btn_add {
  align-self: center;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url('../../../../images/profile/profile-add-btn.svg');
}

@media screen and (max-width: 768px) {
  .profile__btn_add {
    width: 282px;
  }
}